
   /* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
}

/* Form Box Styles */

.form-box {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Title Styles */

#title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Input Field Styles */

.input-field {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field input:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-field i {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 18px;
  color: #666;
}

.input-field i.fa-eye {
  right: 10px;
  left: auto;
  cursor: pointer;
}

/* Username Input Field Styles */

.input-field input[name="userName"] {
  padding-left: 35px;
}

/* Error Message Styles */

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Submit Button Styles */

#form-submit {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #0866ff;;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#form-submit:hover {
  background-color: #0654cc;
}

/* Font Awesome Styles */

.fa-solid {
  font-size: 18px;
  color: #666;
}

.fa-eye {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.fa-eye-slash {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
    